@import "tailwindcss";

@theme{
    --color-primary:#711971;
}
*{
    font-family: "Montserrat", sans-serif;
}
.active{
    @apply text-white
}
.active h1{
    @apply scale-110 translate-x-3 font-semibold
}
.noscrollbar::-webkit-scrollbar{
    @apply hidden
}



/* Hide number input arrows (cross-browser) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
